<link rel="stylesheet" href="css/styles.css">

<h1 class="alert alert-success">
    Welcome {{nombre}}!
    <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Sign out</button>
</h1>

<div id="expire" class="alert alert-danger" role="alert" style="display: none;"></div>

<script>
function idleLogout() {
    var t;
    window.onload = resetTimer;
    window.onmousemove = resetTimer;
    window.onmousedown = resetTimer;     
    window.ontouchstart = resetTimer; 
    window.onclick = resetTimer;      
    window.onkeydown = resetTimer;   
    window.addEventListener('scroll', resetTimer, true); 

    function yourFunction() {
        var oPanel = document.getElementById("expire");
        oPanel.innerHTML = "Sorry but the session expired.";
        oPanel.style.display = 'block';
        function greet() {
            window.location = "/logout";
            oPanel.style.display = 'none';
        }
        setTimeout(greet, 3000);
    }

    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(yourFunction, 55000);  
    }
}
idleLogout();
</script>